{% extends 'base.html.twig' %}
{% block title %}
Formulaire de relance
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6 mt-3">

            <div class="card text-center">
                {{ form_start(form) }}
                <div class="card-header">
                FORMULAIRE DE RELANCE
                </div>
                <div class="card-body">
                {{ form_row(form.email) }}
                    {{ form_row(form.subject) }}
                    {{ form_row(form.content) }}
                </div>
                <div class="card-footer">
                <button type="submit" class="btn btn-dark">Envoyer</button>
                    <a href="{{ path('loan') }}" class="btn btn-outline-dark">Retour</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}



