<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>

<h3>Nouveau message de relance envoyé à : {{ datas.email }}</h3>
<p>Sujet : <strong>{{ datas.subject }}</strong></p>
<p> Message : <br><strong>{{ datas.content }}</strong></p>
</html>