{% extends 'base.html.twig' %}
{% block title %}
Ajouter un emprunt
{% endblock %}

{% block body %}
    <div class="text-center"><h2>Ajouter un emprunt</h2></div>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-5 mt-3">
            <div class="card">
                <div class="card-body">
            {{ form_start(form) }}

            {{ form_row(form.User) }}
                    <label for="lstbook">Liste Livres disponibles au {{ date|date('d/m/Y') }}</label>
                   <select class="form-control" name="choicebook" id="lstbook">
                        {% for book in listBook %}

                            <option value="{{ book.id }}">{{ book.title }} DE {{ book.author }}</option>
                       {% endfor %}

                   </select>
                    <div class="text-right">
                        <button type="submit" class="btn btn-outline-primary mt-3">Emprunt</button>
                        <a href="{{ path('loan') }}" class="btn btn-dark mt-3">Retour</a>
                    </div>
            {{ form_end(form) }}
                </div>
            </div>
            <br>

        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}


