{% extends 'base.html.twig' %}

{% block title %}Emprunts{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-10 mt-3">
            <div class="text-center">
                <h1>Gestion des emprunts</h1>
                <a href="{{ path('editloan') }}" class="btn btn-outline-dark">Ajouter</a>
                <div class="table-responsive mt-3 mb-3">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Adhérent</th>
                                <th scope="col">Livre</th>
                                <th scope="col">Date d'emprunt</th>
                                <th scope="col">Date Réstitution prévue</th>
                                <th scope="col">Statut</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for emprunt in list %}
                            <tr>
                                <th scope="row">
                                    {{ emprunt.id }}
                                </th>
                                <td align="center">
                                    {{ emprunt.user }}
                                </td>
                                <td align="center">
                                    {{ emprunt.book }}
                                </td>
                                <td align="center">
                                    {{ emprunt.startdate|date('d/m/Y') }}
                                </td>
                                <td align="center">

                                        {{ emprunt.restitutionprev|date('d/m/Y') }}


                                </td>
                                <td align="center">
                                    {% if date > emprunt.restitutionprev %}

                                        <img src="{{ asset('images/red.png') }}" width="25px" height="25px"><br>
                                        <a href="{{ path('contactuser',{ 'id' : emprunt.id }) }}" class="btn btn-warning mt-3">Mail</a>
                                    {% else %}
                                        <img src="{{ asset('images/green.png') }}" width="25px" height="25px">
                                    {% endif %}
                                </td>
                                <td align="center">
                                    <a href="{{ path('restitute',{ 'id' : emprunt.id }) }}" class="btn btn-success">Restitution</a>
                                </td>
                            </tr>
                                {% else %}
                            <tr>
                                <td colspan="7" align="center" class="bg-info">
                                  <strong>Aucun emprunt actuellement</strong>
                                </td>

                            </tr>
                        </tbody>
                        <tr>
                            <td colspan="7">
                            <pre>
                                {{ dump(emprunt.restitutionprev|date('d/m/Y')) }}
                            </pre>
                            </td>
                        </tr>
                            {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock %}
