{% extends 'base.html.twig' %}
{% block title %}
Message envoyé
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6 mt-3">
            <div class="card text-center">
                <div class="card-header">
                    MESSAGE DE RELANCE ENVOYE A : {{ datas.email }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Sujet : {{ datas.subject }}</h5>
                    <p class="card-text">
                        {{ datas.content|nl2br }}
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{{ path('loan') }}" class="btn btn-dark">Retour</a>
                </div>
            </div>

        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}



