{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="text-center col-6 mt-3">
                <h1>ACCUEIL</h1><br>
            <img src="{{ asset('images/logo-bibliotheque.png') }}">
            </div>
            <div class="col"></div>
        </div>
    </div>



{#    <div class="text-center">#}
{#        #}
{#    </div>#}


{% endblock %}