{% extends 'base.html.twig' %}
{% block title %}

    Connexion
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6 mt-3">

                <div class="card text-center">
                    <form method="post">
                    <div class="card-header">
                        CONNEXION
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label >Email</label>
                            <input type="text" name="_username" class="form-control" value="{{ last_username }}">
                        </div>
                        <div class="form-group">
                            <label >Mot de passe</label>
                            <input type="password" name="_password" class="form-control">
                        </div>

                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-dark">Connexion</button>
                    </div>
                    </form>
                </div>

            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}



