{% extends 'base.html.twig' %}

{% block title %}
Ajouter un bibliothécaire
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6 mt-3">

            <div class="card text-center">
                {{ form_start(form) }}
                <div class="card-header">
                    AJOUTER UN BIBLIOTHECAIRE
                </div>
                <div class="card-body">

                    {{ form_row(form.lastname) }}
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword) }}

                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-dark">Ajouter</button>
                </div>
                {{ form_end(form) }}
            </div>

        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock %}



