{% extends 'base.html.twig' %}
{% block title %}
    ERREUR
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="text-center col-6 mt-3">

                <img src="{{ asset('images/403.png') }}">
            </div>
            <div class="col"></div>
        </div>
    </div>

{% endblock %}