<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bibliothèque{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('lib/bootstrap/bootstrap.min.css') }}">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

        {% endblock %}
    </head>
    <body>

            <nav class="navbar navbar-expand-md navbar-dark bg-dark mr-">

                <div class="container navbar-nav ">

                    <a class="navbar-brand " href="{{ path('home') }}">
                        <img src="{{ asset('images/biblio.png') }}" width="12%" height="12%" class="d-inline-block align-top">
                        <h1>Bibliothèque</h1>
                    </a>



                        {% if is_granted('ROLE_USER') %}
                    <ul class="navbar-nav ">
                        <li class="nav-item ml-4">
                            <a href="{{ path('books') }}" class="nav-link"><h4>Livres</h4></a>
                        </li>
                        <li class="nav-item ml-4">
                            <a href="{{ path('user') }}" class="nav-link"><h4>Adhérents</h4></a>
                        </li>
                        <li class="nav-item ml-4">
                            <a href="{{ path('loan') }}" class="nav-link"><h4>Emprunts</h4></a>
                        </li>

                        {% else %}
                            <li class="nav-item ml-4">
                                <a href="{{ path('login') }}" class="nav-link btn btn-outline-primary">Login</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item ml-4">
                            <a href="{{ path('register') }}" class="nav-link btn btn-success">Inscription</a>
                        </li>
                        {% endif %}
                        {% if app.user is not null %}

                            <li class="nav-item ml-4">
                                <a href="{{ path('logout') }}" class="nav-link btn btn-outline-primary">Déconnexion</a>
                            </li>

                        {% endif %}
                    </ul>
                    {% if app.user is not null %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <span class="badge badge-danger ml-5 pt-3 pb-3 pl-3 pr-3">
                                Utilisateur connecté :  <strong> {{ app.user }} </strong><br>
                                Statut : <strong>Administrateur</strong>
                            </span>

                        {% else %}
                            <span class="badge badge-primary ml-5 pt-3 pb-3 pl-3 pr-3">
                                Utilisateur connecté :  <strong> {{ app.user }} </strong><br>
                                Statut : <strong>Bibliothécaire</strong>
                            </span>
                        {% endif %}

                    {% endif %}
                </div>
            </nav>
    <div class="container">
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            {% if type == 'error' %}
                {% set type = 'danger' %}
            {% endif %}
            <div class="alert alert-{{ type }} mt-2">
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endfor %}
    </div>
            {% block javascripts %}
                <script
                        src="https://code.jquery.com/jquery-3.4.1.min.js"
                        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                        crossorigin="anonymous"></script>
                <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

            {% endblock %}
        {% block body %}{% endblock %}

    </body>
</html>
