{% extends 'base.html.twig' %}
{% block title %}
Ajouter un Livre
{% endblock %}
{% block body %}

    <div class="text-center"><h2>{{ type }} un ouvrage</h2></div>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-5 mt-3">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.author) }}
                    <div class="text-right">
                        <button type="submit" class="btn btn-outline-success">Ajouter</button>
                        <a href="{{ path('books') }}" class="btn btn-outline-dark">Retour</a>
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock %}



