{% extends 'base.html.twig' %}

{% block title %}LIVRES{% endblock %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="table-responsive mt-3">
        <table class="table table-bordered table-hover table-dark">
            <thead>
            <tr class="bg-dark">
               <td colspan="7" align="center"><h2>Liste des livres disponibles</h2></td>
            </tr>
            <tr class="bg-secondary">
                <td colspan="7" class="text-center">
                    <div class="card bg-dark">
                        <div class="card-header text-center bg-primary">
                            RECHERCHER UN LIVRE
                        </div>
                        <div class="card-body">
                        {{ form_start(form_search) }}
                            <div class="row">
                                <div class="col-md-6">
                                {{ form_row(form_search.title) }}
                                </div>
                                <div class="col-md-6">
                                {{ form_row(form_search.author) }}
                                </div>
                                <input type="hidden" name="page" value="{{ page }}"/>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success">
                                        Rechercher
                                    </button>
                                </div>
                            </div>
                        {{ form_end(form_search) }}
                        </div>
                    </div>
                </td>
            </tr>
                <td colspan="7" class="bg-light" align="center">
                    <a href="{{ path('editbook') }}" class="btn btn-outline-primary">
                        Ajouter
                    </a>
                </td>
            </tr>
            <tr class="bg-primary">
                <th scope="col">ID</th>
                <th scope="col">Titre</th>
                <th scope="col">Déscription</th>
                <th scope="col">Autheur</th>
                <th scope="col">Statut</th>
                <th scope="col" colspan="2">Action</th>
            </tr>
            </thead>

            <tbody>
            {% for item in pager.currentPageResults %}

            <tr>
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.title }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.author }}</td>
                <td>
                    {% if item.isrent == 'true' %}
{#                        <img src="{{ asset('images/reserved.png') }}" width="25px" height="25px"><br>#}
                        <a href="{{ path('whereisbook',{'id' : item.id }) }}">
                            <img src="{{ asset('images/who.png') }}" height="60px" width="60px">
                        </a>
                        {% else %}
                        <img src="{{ asset('images/available.png') }}" width="25px" height="25px">
                    {% endif %}
                </td>
                <td align="center">
                    <a href="{{ path('editbook',{'id' : item.id }) }}" class="btn btn-outline-success">
                        Modifier
                    </a>

                </td>
                <td align="center"><a href="{{ path('deletebook',{'id' : item.id }) }}" class="btn btn-outline-danger">Supprimer</a></td>
            </tr>

            {% endfor %}

            </tbody>
        </table>
            <div class="d-flex justify-content-center">

                {{ pagerfanta(pager,'twitter_bootstrap4_translated') }}
            </div>
        </div>
    </div>

</div>
{% endblock %}
