{% extends 'base.html.twig' %}
{% block title %}
LIVRE EMPRUNTE
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6 mt-5">
            <div class="card text-center">
                <div class="card-header">
                    INFORMATION LIVRES EMPRUNTE
                </div>
                <div class="card-body">
                <h6 class="card-title">Titre : {{ book.title }}</h6>
                    <p class="card-text">
                        Autheur : {{ book.author }}<br>
                        Emprunté par : <strong>{{ loan.user }}</strong><br>
                        <img src="{{ asset('images/mail.png') }}" width="35px" height="35px"> : {{ loan.user.email }}<br>
                        Date d'emprunt : <strong>{{ loan.startdate|date('d/m/Y') }}</strong><br>
                        Date de retour prévue : <span class="badge badge-pill badge-info">{{ loan.restitutionprev|date('d/m/Y') }}</span>
                    </p>
                </div>
                <div class="card-footer">
                  <a href="{{ path('books') }}" class="btn btn-dark">Retour</a>
                </div>
            </div>

        </div>
        <div class="col"></div>

    </div>
</div>

{% endblock %}



