{% extends 'base.html.twig' %}

{% block title %}
Edition Adhérent
{% endblock %}

{% block body %}
<div class="text-center"><h2>{{ type }} un adhérent</h2></div>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-5 mt-3">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_row(form.lastname) }}
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.email) }}
                    <div class="text-right">
                        <button type="submit" class="btn btn-outline-success">Valider</button>
                        <a href="{{ path('user') }}" class="btn btn-outline-dark">Retour</a>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}



