{% extends 'base.html.twig' %}

{% block title %}Adhérents{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-10 mt-3">
            <div class="text-center">
                <h2>Liste des adhérents</h2>

            </div>
            <div class="card text-center">
                {{ form_start(search) }}
                <div class="card-header">
                    RECHERCHER UN ADHERENT
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-6">
                        {{ form_row(search.lastname) }}
                        </div>
                        <div class="col-md-6">
                        {{ form_row(search.firstname) }}
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <input type="hidden" name="page" value="{{ page }}"/>
                    <button type="submit" class="btn btn-dark">Rechercher</button>
                    <a href="{{ path('edituser') }}" class="btn btn-primary">Ajouter</a>
                </div>
                {{ form_end(search) }}
            </div>
            <div class="table-responsive mt-3">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="text-center">ID</th>
                            <th scope="col" class="text-center">NOM</th>
                            <th scope="col" class="text-center">PRENOM</th>
                            <th scope="col" class="text-center">EMAIL</th>
                            <th scope="col" class="text-center">EMPRUNTS</th>
                            <th scope="col" class="text-center">ACTION</th>
                        </tr>
                        <tr>
                            <td colspan="6" class="text-center">
                                <a href="{{ path('listdatatable') }}" class="btn btn-info">
                                    DataTable Vue Rapide
                                </a>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in pager.currentPageResults %}
                        <tr>
                            <th scope="row">
                                {{ user.id }}
                            </th>
                            <td align="center">
                                {{ user.lastname }}
                            </td>
                            <td align="center">
                                {{ user.firstname }}
                            </td>
                            <td align="center">
                                {{ user.email }}
                            </td>
                            <td align="center">
                                {% if user.loans.count > 0 %}
                                    <a href="{{ path('listloans',{ 'id' : user.id }) }}" class="btn btn-info">Liste</a>
                                    {% else %}
                                        <strong>Aucun</strong>
                                {% endif %}
                            </td>
                            <td align="center">
                                <a href="{{ path('edituser',{'id' : user.id }) }}" class="btn btn-success">Modifier</a>
                                <a href="{{ path('deleteuser',{'id' : user.id }) }}" class="btn btn-danger">Supprimer</a>
                            </td>
                        </tr>

                        {% else %}
                        <tr>
                            <td colspan="6" align="center" class="bg-info">
                                <strong>Pas d'adhérent actuellement</strong>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="d-flex justify-content-center">

                    {{ pagerfanta(pager,'twitter_bootstrap4_translated') }}
                </div>
            </div>

        </div>
        <div class="col"></div>
    </div>
</div>



{% endblock %}
