{% extends 'base.html.twig' %}
{% block title %}
Liste emprunts
{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-7 mt-5 mb-3">
            <div class="card text-center mb-3">
                <div class="card-header">
                    {{ loans|length }} EMPRUNT(S) EN COURS
                    <br>ADHERENT : <strong>{{ user.firstname }} {{ user.lastname }}</strong>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">TITRE DU LIVRE</th>
                                    <th scope="col">AUTHEUR</th>
                                    <th scope="col">DATE SORTIE</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for loan in loans %}
                                <tr>
                                  <th scope="row">{{ loan.book.id }}</th>
                                    <td>{{ loan.book.title }}</td>
                                    <td>{{ loan.book.author }}</td>
                                    <td>{{ loan.startdate|date('d/m/Y') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="card-footer text-center">
                    <a href="{{ path('user') }}" class="btn btn-outline-dark">Retour</a>
                </div>
            </div>

        </div>
        <div class="col"></div>

    </div>
</div>


{% endblock %}



