{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6 mt-5">
           <table id="table_id" class="table table-bordered table-dark">
               <thead>
                 <tr>
                     <th>ID</th>
                     <th>NOM</th>
                     <th>PRENOM</th>
                     <th>MAIL</th>
                 </tr>
               </thead>
               <tbody>
               {% for user in list %}
                    <tr class="bg-primary">
                        <td>
                            {{ user.id }}
                        </td>
                        <td>
                            {{ user.lastname }}
                        </td>
                        <td>
                            {{ user.firstname }}
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                    </tr>

               {% endfor %}
               </tbody>
           </table>


        </div>
        <div class="col"></div>

    </div>
</div>




{% endblock %}


{% block javascripts %}

{{ parent() }}
<script type="application/javascript">


    $(document).ready( function () {
    $('#table_id').DataTable();
    } );
</script>
{% endblock %}


